@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  font-size: x-large;
}

body {
  width: 100%; 
  height: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

main {
  width: 300px;

  padding: 20px;
  box-shadow: 0 1px 10px #ccc;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  padding: 5px;
  outline: none;
  accent-color: #30B09F;
  border-color: #30B09F;
}

input[type=checkbox]{
    width: 18px;
    height: 18px;
}

input[type=checkbox]{
    width: 18px;
    height: 18px;
}

button {
    background-color: #30B09F;
    cursor: pointer;
    color: white;
    border: none;
    padding: 5px;
}

button:hover{
    background-color: #165d54;
}